body{
    background-color: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home_body{
    border : 2px solid grey;
    width: 320px;
    height: 580px;
    background-color: white;
    border-radius: 10px;
    padding: 10px;
    overflow: scroll;
    
}
.title{
    border-bottom: 1px solid gray;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10px;
    text-align: center;
    color: gray ;
}
a{
    text-decoration: none;
    color: gray;
}
h2,h4{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: gray ;
    text-decoration-line: underline;
}
.addCandidat{
    /* border:2px solid gray; */
    margin-top: 15%;
}
li, label{
    font-family: Arial, Helvetica, sans-serif;  
    color: gray ;
    font-size: medium;
}
.button{    
    height: 25px;
    width: 70px;
    border-radius: 20px;
    background-color: transparent;
    border:1px solid gray;
    align-items: flex-end;
}
.label{
    font-weight: 700;
}
.showCandidat{
    margin-top: 15px;
}
input{
    color: gray;
}