{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Title</title>
	<link rel="stylesheet" href="{% static "/style.css" %}">
</head>
<body>
	<div class="home_body">
		{% csrf_token %}
		<div class="title">
			<a href="/">
			<h1>L'app du Jury </h1></a>
		</div>

		<div class="addCandidat">
			<h2>Ajouter un  candidat : </h2>
			<form action="/addCandidat/" method="post">
				{% csrf_token %}
				<label for="name">Nom et prenom : </label>
				<input name="name" type='text'><br><br>
				<label for="titlePro">Titre professionnel: </label>
				<input name="titlePro" type='text'><br><br>
				<input type="submit" class="button" value="Ajouter">
			</form>
		</div>
		<div class="showCandidat">	
			<h2>Liste des candidat : </h2>
			{% for data in datas %}
			<form action="/evaluation/" method="post">
				{% csrf_token %}
				<ul>
					<li><span class="label">Nom :</span> {{ data.candidat.name }}<br>
						<span class="label">Titre professionnel :</span> {{ data.candidat.titrePro }}
					</li>
					
				  </ul>
				<!-- <label for="candidat">{{ data.candidat.name }}</label>
				<label for="candidat">{{ data.candidat.titrePro }}</label> -->
				<input type="hidden" name="key" value="{{ data.key }}">
				<input type="hidden" name="name" value="{{ data.candidat.name }}">
				<input type="submit" class="button" value="Evaluer">
			</form>
			{% endfor %}
		</div>
	</div>
</body>
</html>