{% load static %}
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Evaluer le candidat</title>
	<link rel="stylesheet" href="{% static "/style.css" %}">
</head>
<body>
	<div class="home_body">
		<div class="title">
			<a href="/">
			<h1>L'app du Jury </h1></a>
		</div>

	<h2>Candidat :{{ name }} </h2>

	<div>
		<form action="/post_eval/" method="POST">
			{% csrf_token %}

			<h4>Partie front-end</h4>
			<label for="comp1">Compétence 1 : maquetter une application</label>
			<div>
				<input type="radio" 
     				name="comp1" value="valid">
				   <label for="comp1">Validé</label>
				   
				   <input type="radio" 
				   name="comp1" value="non_valid">
				 <label for="comp1"> Non Validé</label>
			</div>
			<br>
			<label for="comp2">Compétence 2 : Réaliser une interface web static </label>
			<div>
				<input type="radio" id="c2Valid"
     				name="comp2" value="valid">
				   <label for="comp2">Validé</label>
				   
				   <input type="radio" id="c2NonValid"
				   name="comp2" value="non_valid">
				 <label for="comp2"> Non Validé</label>
			</div>
			<br>
			<label for="comp3">Compétence 3 : Réaliser une interface web dynamique</label>
			<div>
				<input type="radio" id="c3Valid"
     				name="comp3" value="valid">
				   <label for="comp1">Validé</label>
				   
				   <input type="radio" id="c3NonValid"
				   name="comp3" value="non_valid">
				 <label for="comp3"> Non Validé</label>
			</div>
			<br>
			<label for="comp4">Compétence 4 : Réaliser une interface avec une solution CMS</label>
			<div>
				<input type="radio" id="c4Valid"
     				name="comp4" value="valid">
				   <label for="comp4">Validé</label>
				   
				   <input type="radio" id="c4NonValid"
				   name="comp4" value="non_valid">
				 <label for="com4"> Non Validé</label>
			</div>
			<br>
			<h4>Partie back-end</h4>

			<label for="comp5">Compétence 5 : créer une base de donnée </label>
			<div>
				<input type="radio" id="c5Valid"
     				name="comp5" value="valid">
				   <label for="comp5">Validé</label>
				   
				   <input type="radio" id="c5NonValid"
				   name="comp5" value="non_valid">
				 <label for="comp5"> Non Validé</label>
			</div>
			<br>
			<label for="comp6">Compétence 6 : développer les composant d'accès aux données</label>
			<div>
				<input type="radio" id="c6Valid"
     				name="comp6" value="valid">
				   <label for="comp6">Validé</label>
				   
				   <input type="radio" id="c6NonValid"
				   name="comp6" value="non_valid">
				 <label for="comp6"> Non Validé</label>
			</div>
			<br>
			<label for="comp7">Compétence 7 : developper la partie back end d'une application </label>
			<div>
				<input type="radio" id="c7Valid"
     				name="comp7" value="valid">
				   <label for="comp7">Validé</label>
				   
				   <input type="radio" id="c7NonValid"
				   name="comp7" value="non_valid">
				 <label for="comp7"> Non Validé</label>
			</div>
			<br>
			<label for="comp8">Compétence 8 :Mettre en oeuvre les composant dans une application de gestion de contenu ou e-commerce</label>
			<div>
				<input type="radio" id="c8Valid"
     				name="comp8" value="valid">
				   <label for="comp8">Validé</label>
				   
				   <input type="radio" id="c8NonValid"
				   name="comp8" value="non_valid">
				 <label for="comp8"> Non Validé</label>
			</div>
			<br><br>
			<input type="hidden" name="key" value="{{ key }}">
			<input type="submit" class="button" value="addCompetence">
		</form>
	</div>
</div>
	
</body>
</html>