<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>resumé evaluation</title>
</head>
<body>
    <h1>Evaluation validé</h1>
    <p> Compétence 1 : {{ comp.comp1 }}</p>
</body>
</html>